
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
/* Font Name: Marcellus */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
/* Aboreto - Game of Thrones Font ;) */
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
/* Tangerine Swing */
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");
/* Qwigley - Swing Font */
 


:root {
  --light: #F4F3EE;
  --beige: #BCB8B1;
  --middle: #8A817C;
  --dark: #463F3A;
  --melon: #E0AFA0;

}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
  width: 100vw;
  height: 6vh;
}

.navLink {
  display: flex;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 4%;
  color: black;
  font-family: Aboreto;
  font-size: 20px;
  font-weight: 900;

}

.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.pinimg.com/564x/4c/3a/34/4c3a344674f00fd4909a3c5aa58c71c9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#hero-h3 {
  font-family: Tangerine;
  color: black;
  font-size: 5rem;
  margin: 0;
  padding-top: 20%;
  padding-left: 10%;
}

#hero-h4 {
  font-family: Tangerine;
  color: black;
  font-size: 5rem;
  margin: 0;
  padding-top: 3%;
  padding-left: 35%;

}

#hero-h1 {
  font-family: Tangerine;
  color: black;
  font-size: 5rem;
  text-align: end;
  padding-top: 25%;
  padding-right: 50%;
  margin: 0;
}


#hero-h2 {
  font-family: Tangerine;
  color: black;
  font-size: 5rem;
  text-align: end;
  padding-right: 18%;
  padding-top: 3%;
  margin: 0;
}

.headlineDiv {
  display: flex;
  flex-direction: column;
  background: rgba(244, 243, 238, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-shadow: 2px 2px 8px var(--light);
  width: 100vw;
  height: 100vh;

}


.about-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.me {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

.me-pic {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: fit-content;
  /*border: 2px solid black;*/
}

.img-isabella {
  display: flex;
  border-radius: 1rem;
  margin: 8%;
  width: 55vw;
  height: 30vh;
  padding: 0;

}

.me-text {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  width: 100vw;
}

.me-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.me-ul li {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.me-ul li a {
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14px;
  color: var(--dark);
  visibility: hidden;
}

.me-ul li h4 {
  font-family: Marcellus;
  text-shadow: none;
  font-weight: bold;
  font-size: 28px;
}

.me-ul li h5 {
  padding-left: 10rem;
  font-family: Tahoma;
  font-weight: 300;
  font-size: 23px;
  letter-spacing: 1px;
}

/* not visible at the beginning */
.more {
  display: flex;
  width: 100vw;
  height: 100vh; 
  /*border: 2px solid black;*/
}

.timeline-section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
}


.timeline-section h3 {
  margin: 0;
  padding: 2%;
  font-family: Marcellus;
  font-size: 25px;
}

.timeline-section p {
  margin: 0;
  padding: 2%;
  font-family: Calibri;
  font-size: 20px;
}

.timeline-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  padding-right: 5%;

}

.left1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
  height: fit-content;
  width: 100%;
}

.left2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;  
  margin-top: 50%;
  height: fit-content;
  width: 100%;
}

.left3 {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: flex-end;
  margin-top: 50%;
  height: fit-content;
  width: 100%;
}

.timeline-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: fit-content;

}

.right1 {
  border-left: 3px solid var(--dark);
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  margin-top: 40%;
  height: fit-content;
  width: 100%;
}

.right2 {
  border-left: 3px solid var(--dark);
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  margin-top: 40%;
  height: fit-content;
  width: 100%;
}

.right2 a {
  display: flex;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14px;
  padding-left: 3%;
  padding-top: 2%;
  color: var(--dark);
}

.projects-section {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.projects {
    display: grid;
    margin: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
  border: 2px solid black;
  height: 35vh;
  width: 25vw;
  text-align: center;
}
.div2 { 
  grid-area: 1 / 2 / 2 / 3; 
  border: 2px solid black;
  height: 35vh;
  width: 25vw;
  text-align: center;

}
.div3 { 
  grid-area: 1 / 3 / 2 / 4; 
  border: 2px solid black;
  height: 35vh;
  width: 25vw;
  text-align: center;
}

.tech {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 10%;
  margin-bottom: 10%;

}

.tech h1 {
  font-family: Aboreto;
  font-size: 25px;
  padding-left: 3%;
}

.tech-img {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.icons1, .icons2, .icons3 {
  margin-top: 5%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 25%;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  background-color: var(--beige);
  padding-left: 3%;
  position: relative;
}

.contact h1 {
  font-family: Aboreto;
  font-size: 25px;
}

.dates {
  display: flex;
  flex-direction: column;
}

.icons {
  position: absolute;
  right: 10%;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 20%;
  height: 5cm;
}

#LI {

  color: var(--dark);
}

#FB {

color: var(--dark);
}

#GH {
  color: var(--dark);

}

.dates {
  font-family: Aboreto;
  font-size: 20px;
  font-weight: bold;
}