@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
/* Font Name: Patrick Hand SC */
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
/* Font Name: Marcellus */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
/* Game of Thrones Font ;) */
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
/* Swing */
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");
/* Qwigley - Swing Font */
/*
<link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
*/
:root {
  --light: #F4F3EE;
  --beige: #BCB8B1;
  --middle: #8A817C;
  --dark: #463F3A;
  --melon: #E0AFA0;
  --img: url(/pics/isabella.jpg);
}

* {
  box-sizing: border-box;
}

/* NAVBAR RIGHT COLUMN

.nav {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: rgba(244, 243, 238, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  margin-right: 5%;
  margin-top: 5%;
  width: 10%;
  height: 10%;
}

.navLink {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  padding-left: 3%;
  padding-right: 3%;
  color: var(--dark);
  text-shadow: 2px 2px 10px var(--light);
  font-family: Aboreto;
  font-size: 25px;
  font-weight: 900;
}
*/